.git/
.gitignore
__pycache__/
htmlcov/
.coverage
.coveragerc
.celerybeat-schedule.db
.cache
.ruff_cache/
.pytest_cache/
coverage.xml
.editorconfig
*.mo
*.log
media/
Dockerfile
docker-compose.*
.idea/
.vscode/
.venv/
.env
README.md
CONTRIBUTING.md
.DS_Store
